# 1password
OP_ACCOUNT="team-futo.1password.com"

# OIDC: Zitadel staging
# WEB_PORT="5173"
# OIDC_ISSUER="https://external-dev-gkhk8b.us1.zitadel.cloud"
# OIDC_CLIENT_ID="op://yucca_tf_dev/CUSTOMER_ZITADEL_OAUTH_CLIENT_ID_DEV_TEST/password"
# OIDC_CLIENT_SECRET="op://yucca_tf_dev/CUSTOMER_ZITADEL_OAUTH_CLIENT_SECRET_DEV_TEST/password"
# OIDC_REDIRECT_URI="http://localhost:5173/api/auth/oidc/callback"
# OIDC_LOGOUT_REDIRECT_URI="http://localhost:5173"

# OIDC: Zitadel testing
# OIDC_DEVICE_ISSUER="https://zitadel.raccoon.sh"
# OIDC_DEVICE_CLIENT_ID="370711051198529553"
# OIDC_CLIENT_ID="368822166944284767"
# OIDC_CLIENT_SECRET=""

# Polar
# POLAR_ACCESS_TOKEN=
# POLAR_WEBHOOK_SECRET=
# POLAR_PRODUCT_ID=d9bc9054-eb91-46c9-846e-dd5bbb8f0041
# POLAR_APPLY_DISCOUNT_ID=391d9f04-889a-44ff-95f1-98cee8a5b0db
